<h1>Listing Attractions</h1>
<br>
<% @attractions.each do |attraction| %>
  <div class="row">
    <div class="col-sm-4"><img src="http://www.allthingsclipart.com/05/amusement.park.05.jpg" alt=""></div>
    <div class="col-sm-4"><%= link_to  "Go on #{attraction.name}", attraction %></div>
    <div class="col-sm-4"><%=attraction.tickets%> Tickets</div>
  </div>
<% end %>